*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
    
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



   
    
     

.header{
    
     height: 80vh;
   display: flex;
   gap: 72px;
   flex-direction: column;
   justify-content: center;
  
   padding-left: 48px;

 background-color: #1F2937;

}
.upper-header{
    display:flex;
    justify-content: space-between;
    padding-top: 12px ;
    padding-right:48px;
   align-items: center;
   justify-content: space-between;
  
}
.upper-header-left{
    color:#F9FAF8;
    font-size: 24px;
}
.upper-header-right{
    display: flex;
    gap: 8px;
    color:#E5E7EB;
    font-size: 18px;
}
.lower-header{
    display: flex;
    justify-content: space-between;
    padding-right:48px;
}
.lower-header-left{
 display: flex;
 flex-direction: column;
 gap: 8px;
 flex: 0 1 600px;
}
.LHL1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.LHL2{
    font-size: 18px;
    color: #E5E7EB;
}




.lower-header-right{
    display: flex;
    flex: 0 1 300px;
    align-items: center;
    
}

.section1{
    height: 70vh;
  display: flex;
   gap: 16px;
   flex-direction: column;
  padding-left: 48px;
  
}
.upper-section1{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
     padding-top: 12px ;

}
.lower-section1{
    display: flex;
    justify-content: center;
    gap: 48px;
}
.box-container{
    display: flex;
    flex-direction: column;
    width: 180px;
}
.box{
    width: 180px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}





.section2{
 padding-left: 48px;
 height: 70vh;
 background-color: #E5E7EB;
 display: flex;
 justify-content: center;
 align-items: center;

}
.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 864px;
    gap: 16px;
   
}
.text-1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
   
}
.text-2{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
.section3{
    height: 70vh;
     display: flex;
     justify-content: center;
     padding-left: 48px;
     align-items: center;
     
}
.content-wrapper{
    background-color: #3882F6;
    width: 1000px;
    height: 120px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-left{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.content-bold{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bold;
}
.normal-content{
     color:#F9FAF8;
}
button{
     width: 150px;
    height: 30px;
    background-color: #3882F6;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #F9FAF8;
}
.footer{
    height: 10vh;
     background-color:#1F2937 ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #F9FAF8;
    
}