

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
}
.header{
    height: 30%;
   display: flex;
   gap: 16px;
   flex-direction: column;
   background-color: #1F2937;
   padding-left: 48px;



}
.upper-header{
    display:flex;
    justify-content: space-between;
    padding-top: 12px ;
    padding-right:48px;
}
.upper-header-left{
    color:#F9FAF8;
    font-size: 24px;
}
.upper-header-right{
    display: flex;
    gap: 8px;
    color:#E5E7EB;
    font-size: 18px;
}
.lower-header{
    display: flex;
    justify-content: space-between;
    padding-right:48px;
}
.lower-header-left{
 display: flex;
 flex-direction: column;
 gap: 8px;
 flex: 0 1 600px;
}
.LHL1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;}*/


/*.lower-header-right{
    display: flex;
    flex: 0 1 300px;
    
}*/

.section1{
    height: 20%;
}
.section2{
   
 height: 20%
}
.section3{
     height: 20%
}
.footer{
    height: 10%;
}